---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1544048625'
      Etag:
      - W/"54ea54e095e98713b85afb8193556f3b"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":95717849,"node_id":"MDEwOlJlcG9zaXRvcnk5NTcxNzg0OQ==","name":"dsi-python-fundamentals","full_name":"gSchool/dsi-python-fundamentals","private":true,"owner":{"login":"gSchool","id":3484345,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM0ODQzNDU=","avatar_url":"https://avatars1.githubusercontent.com/u/3484345?v=4","gravatar_id":"","url":"https://api.github.com/users/gSchool","html_url":"https://github.com/gSchool","followers_url":"https://api.github.com/users/gSchool/followers","following_url":"https://api.github.com/users/gSchool/following{/other_user}","gists_url":"https://api.github.com/users/gSchool/gists{/gist_id}","starred_url":"https://api.github.com/users/gSchool/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gSchool/subscriptions","organizations_url":"https://api.github.com/users/gSchool/orgs","repos_url":"https://api.github.com/users/gSchool/repos","events_url":"https://api.github.com/users/gSchool/events{/privacy}","received_events_url":"https://api.github.com/users/gSchool/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/gSchool/dsi-python-fundamentals","description":"Material
        for the Intro to Python Fundamentals at Galvanize class.","fork":false,"url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals","forks_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/forks","keys_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/teams","hooks_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/hooks","issue_events_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/issues/events{/number}","events_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/events","assignees_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/assignees{/user}","branches_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/branches{/branch}","tags_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/tags","blobs_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/git/refs{/sha}","trees_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/statuses/{sha}","languages_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/languages","stargazers_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/stargazers","contributors_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/contributors","subscribers_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/subscribers","subscription_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/subscription","commits_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/commits{/sha}","git_commits_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/git/commits{/sha}","comments_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/comments{/number}","issue_comment_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/issues/comments{/number}","contents_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/contents/{+path}","compare_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/merges","archive_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/downloads","issues_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/issues{/number}","pulls_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/pulls{/number}","milestones_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/milestones{/number}","notifications_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/labels{/name}","releases_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/releases{/id}","deployments_url":"https://api.github.com/repos/gSchool/dsi-python-fundamentals/deployments","created_at":"2017-06-28T22:47:03Z","updated_at":"2018-11-09T01:35:04Z","pushed_at":"2018-11-09T01:35:02Z","git_url":"git://github.com/gSchool/dsi-python-fundamentals.git","ssh_url":"git@github.com:gSchool/dsi-python-fundamentals.git","clone_url":"https://github.com/gSchool/dsi-python-fundamentals.git","svn_url":"https://github.com/gSchool/dsi-python-fundamentals","homepage":"","size":6505,"stargazers_count":31,"watchers_count":31,"language":"Jupyter
        Notebook","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":659,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":659,"open_issues":0,"watchers":31,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":154189061,"node_id":"MDEwOlJlcG9zaXRvcnkxNTQxODkwNjE=","name":"little_shop_v2","full_name":"Kate-v2/little_shop_v2","private":false,"owner":{"login":"Kate-v2","id":36523304,"node_id":"MDQ6VXNlcjM2NTIzMzA0","avatar_url":"https://avatars3.githubusercontent.com/u/36523304?v=4","gravatar_id":"","url":"https://api.github.com/users/Kate-v2","html_url":"https://github.com/Kate-v2","followers_url":"https://api.github.com/users/Kate-v2/followers","following_url":"https://api.github.com/users[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1544048625'
      Etag:
      - W[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1544048625'
      Etag:
      - W[...]
